.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemContainer {
  // width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
}

.btnEdit {
  cursor: pointer;
}

.btnDelete {
  cursor: pointer;
}
