.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.image {
  height: 42px;
}

.serviceName {
}
