.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shipmentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
